@CHARSET "UTF-8";

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

ul {
	list-style-type: none;
}

.body-with-margin {
	width: 1000px;
	margin: 0 auto;
}

.chat-log {
    height: 120px; /* will be heightening after dev time */
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-entry {
    padding: 30px;
}

.chat-entry input {
    color: blue;
    width: 100%;
}
