<div ng-include src="'templates/header.html'"></div>

<div class="body-with-margin" ng-controller="ForumControl as forumCtrl">
	

	<div ng-hide="forumCtrl.detailQuestion">

		<form ng-submit="forumCtrl.addQuestion(forumCtrl.curQuestion)">
			<input type="text" ng-model="forumCtrl.curQuestion" />
		</form>

		<br />

		<div ng-repeat="question in forumCtrl.fdata.questions">

			<div><a href="#" ng-click="forumCtrl.showDetails(question)">{{question.question}}</a></div>

		</div>

	</div>


	<div ng-show="forumCtrl.detailQuestion">

		<div><a href="#" ng-click="forumCtrl.detailQuestion = null">Back</a></div>
		
		<h2>Question</h2>
		<h1>{{forumCtrl.detailQuestion.question}}</h1>

		<h2>Answers</h2>
		<ul>
			<li style="padding: 8px; margin: 8px;" ng-repeat="answer in forumCtrl.detailQuestion.answers">
				{{answer}}
			</li>
		</ul>

		<h2>Answer this question</h2>
		<textarea rows="6" cols="40" ng-model="forumCtrl.curAnswer"></textarea>
		<br />
		<button ng-click="forumCtrl.addAnswer(forumCtrl.curAnswer)">Submit</button>

		<h2>Tags</h2>
		<div>{{forumCtrl.detailQuestion.data.tags}}</div>

		<h2>Votes <i class="fa fa-minus" ng-click="forumCtrl.subVote()">&nbsp;</i><i class="fa fa-plus" ng-click="forumCtrl.addVote()"></i></h2>
		<div>{{forumCtrl.detailQuestion.data.votes}}</div>

	</div>

</div>