<div class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Elementary, My Dear Watsabi</a>
    </div>
    <ul class="nav navbar-nav">
        <li data-match-route="/?(navbar)?"><a href="/">Home</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-form navbar-right">
        <li>
            <form ng-submit="watsonCtrl.askWatson(watsonCtrl.question)">
                <div class="form-group">
                    <input ng-model="watsonCtrl.question" class="form-control" placeholder="Search Community!" type="text" size="40" />
                </div>
            </form>
        </li>
    </ul>
</div>
