<div ng-controller="ProjectCtrl as projectCtrl">

	<div ng-include src="'templates/header.html'"></div>

	<div class="body-with-margin">

		<h1>Demo Project</h1>

		<div class="row">

			<div class="col-xs-6">
				
				<form ng-submit="projectCtrl.askQuestion(projectCtrl.question)">
					<input ng-model="projectCtrl.question" type="text" style="font-size: 30px;" size="25" />
				</form>



				<div ng-show="projectCtrl.needsApproval">
					
					<div class=col-xs-6>
						<h3>Current Question:</h3>
						<div>{{projectCtrl.currentQuestion}}</div>
						<div>{{projectCtrl.currentAnswer}}</div>
					</div>

					<div class=col-xs-6>
						<h3></h3>
						<a href="#" ng-click="projectCtrl.approve()">Save</a>
						<a href="#" ng-click="projectCtrl.deny()">See more</a>
					</div>

				</div>


			</div>

			<div class="col-xs-6">
				

				<ul>
					<li ng-repeat="qaPair in projectCtrl.setQAPairs">
						<div><h4>{{qaPair.question}}</h4></div>
						<div>{{qaPair.answer}}</div>
					</li>

				</ul>


			</div>
			

		</div>

		

	</div>
</div>
