<div ng-controller="ProjectCtrl as projectCtrl">
	<div ng-include src="'templates/header.html'"></div>
	<div class="body-with-margin">
		<div class="row">
			<div class="col-xs-6 chat">
				<h1>Ask Watson</h1>
				<div class="chat-log">
					<ul>
						<li ng-repeat="qaPair in projectCtrl.setQAPairs">
							<div class="user chatlabel">You:</div>
							<div class="chatanswer user">{{qaPair.question}}</div>
							<div class="watson chatlabel">Watson:</div>
							<div class="chatanswer watson">{{qaPair.answer}}</div>
						</li>
					</ul>
				</div>
				<div class="chat-entry">
					<form ng-submit="projectCtrl.askQuestion(projectCtrl.question)">
						<input ng-model="projectCtrl.question" type="text" class="user submit" />
					</form>
				</div>

				<!-- TODO Let's ditch this and have automatic submission -->
				<div ng-show="projectCtrl.needsApproval">
					<div class=col-xs-6>
						<h3>Current Question:</h3>
						<div>{{projectCtrl.currentQuestion}}</div>
						<div>{{projectCtrl.currentAnswer}}</div>
					</div>
					<div class=col-xs-6>
						<h3></h3>
						<a href="#" ng-click="projectCtrl.approve()">Save</a>
						<a href="#" ng-click="projectCtrl.deny()">See more</a>
					</div>
				</div>
			</div>

			<!-- <div class="col-xs-6">
			<ul>
			<li ng-repeat="qaPair in projectCtrl.setQAPairs">
			<div>{{qaPair.question}}</div>
			<div>{{qaPair.answer}}</div>
			</li>
			</ul>
			</div> -->
		</div>
	</div>
</div>
